.textShadow {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #f09,
        0 0 21px #f09,
        0 0 42px #f09;
    animation: pulsate 1.5s infinite alternate;   
}

@keyframes pulsate {
    0%, 100% {
        text-shadow:
            0 0 7px #fff,
            0 0 10px #f09,
            0 0 21px #f09,
            0 0 42px #f09;
    }
    50% {
        text-shadow:
            0 0 10px #fff,
            0 0 15px #f09,
            0 0 25px #f09,
            0 0 45px #f09;
    }
}
.custom-hover{
    transition: 0.5s ease-in-out;
}
.custom-hover:hover{
    transform: scale(1.05);
    
}
.box-shadow:hover{
    box-shadow:0 0 30px #f09;
    transition: 0.5s ease-in-out;
}
.custom-color{
color: #f09;
}
.custom-bg-color{
    background-color: #f09;
}
